@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,h2,h3,h4,h5,h6,p,span {
    @apply tracking-wide;

  }
  *{
    cursor:none;
  }

  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
      background-color: #08d665; 
      border-radius: 20px;        
      border: 1px solid #08d665;
  }
}


    body {
        @apply m-0;
        @apply p-0;
        @apply box-border;
        @apply bg-secondary;
  
    }


    @layer components {
     
    
    .btn-primary {
        @apply w-full h-10  ;
        @apply bg-primary text-white;
        @apply border-2 border-primary;         
        @apply font-semibold text-sm ;
        @apply rounded-3xl;
        @apply hover:bg-black hover:text-primary hover:transition-all  hover:duration-500;
        @apply cursor-none;
    }

    .btn-secondary {
        @apply w-full h-10 ;
        @apply bg-black text-primary;
        @apply border-2 border-primary;         
        @apply font-semibold text-sm ;
        @apply rounded-3xl;
        @apply cursor-none;
        @apply hover:bg-primary hover:text-white  hover:transition-all  hover:duration-500;
    }
  

    .nav-link-web{
       @apply text-white text-lg  font-semibold uppercase tracking-wide;
       @apply hover:text-primary  hover:transition hover:duration-700 ;
    }
    .nav-link-web-active{
      @apply  text-primary  font-semibold uppercase;
    }

    .nav-link-mobile {
      @apply block py-3 px-8 text-white hover:text-primary font-medium hover:border-2 border-primary rounded-full hover:transition-all hover:duration-700 ;
    }
    .nav-link-mobile-active {
      @apply  text-primary border-2 border-primary rounded-full;
    }
    
    .badge {
    @apply inline-block py-px px-2 mb-4 text-xs leading-5 text-primary border-2 border-primary bg-black font-medium uppercase rounded-full shadow-sm;
    }

    .backdrop{
    @apply z-50 fixed top-0 left-0 right-0 bottom-0 flex  items-center w-full h-full p-4 bg-backdrop overflow-y-auto;
    }

    .input {
     @apply block w-full outline-none bg-transparent text-sm text-white font-medium;
    }
    .input-wrapper {
      @apply relative w-full h-14 py-4 px-3 mb-10 border border-primary  rounded-lg;
      }
      .input-error-message {
        @apply text-red-600 font-medium text-base absolute top-14 left-4;
      }
      .input-has-error {
        @apply border-2 border-red-600;
      }
    .label-input {
    @apply absolute bottom-12 left-0  ml-3 -mb-1 transform translate-y-0.5 text-lg font-semibold text-white px-1 bg-black;
    }
   

    .modal-wrapper {
    @apply max-w-xl w-max mx-auto  bg-black border-2 border-primary rounded-xl;
  }

  .text-area-send-message-chat{
  @apply text-sm font-medium  rounded-xl resize-none outline-none;
  @apply text-white placeholder-gray-500 bg-black border-2 border-primary;
  @apply block w-72 h-20 p-4 mb-6;

  }

  .bubble-client {
  @apply py-4 pl-4 pr-8 mb-3 bg-black border-2 border-primary rounded-2xl;
  }

  .bubble-response {
  @apply py-4 pl-4 pr-8 mb-3 bg-primary rounded-2xl;
  }
    
    }
